{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <a class="text-reset" href="https://www.flaticon.es/iconos-gratis/whatsapp" title="whatsapp iconos"><small>Whatsapp
            iconos creados por Freepik - Flaticon</small></a>
    </div>
    <div>
        <a class="text-reset" href="https://www.flaticon.es/iconos-gratis/telefono" title="teléfono iconos"><small>Teléfono
            iconos creados por
            Uniconlabs
            - Flaticon</small></a>
    </div>
    <div>
        <a class="text-reset" href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos"><small>Facebook
            iconos creados por Pixel
            perfect - Flaticon</small></a>
    </div>
    <div>
        <a class="text-reset" href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos"><small>Instagram
            iconos creados por
            Freepik
            - Flaticon</small></a>
    </div>
</div>
<hr>
<div class="d-grid gap-2 d-md-block">
    <a href="/" class="btn btn-primary">Inicio</a>
</div>

{% endblock %}