{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}

<!-- Create a Form -->
<div class="col s12 m6">
    <form method="POST" class="mb-3">
    <!-- Security token by Django -->
        {% csrf_token %}
        <p>¿Está seguro que desea eliminar esta suscripción?</p>
        <div>
            <input type="submit" class="btn btn-danger" value="Si, eliminar" />
        </div>
    </form>

    <a href="/listarSuscripcionesAdmin/">Cancelar </a>
</div>

{% endblock %}