{% extends "polls/principal.html" %}
{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}
{% load static %}


<!-- ################# -->
<!-- Barra de busqueda -->
<!-- ################# -->
<div class="justify-content-centery">
    <form class="d-flex" action="{% url 'polls:principal' %}" method="get">
        <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<br>




<!-- ################# -->
<!-- Filtros -->
<!-- ################# -->

<select class="form-select" aria-label="Select" onchange="location = this.value;">
    <option selected>Filtrar por</option>
    <optgroup label="Rubro">
        {% for cat in categorias %}
            <option value="/negociosPorRubro/{{cat.id}}">{{cat.nombre}}</option>
        {% endfor %}
    </optgroup>
    <option value="/seleccionHorarios">Horario</option>
</select>
<br>



<!-- ################# -->
<!-- Lista de negocios -->
<!-- ################# -->

<div class="row">
    {% for neg in negocios %}
    <div class="col-6 col-md-4 mb-3">

        <div class="card h-100">
            <div class="card-header justify-content-end">
                <i class="bi-heart" style="font-size: 1rem"></i>
            </div>
            <div class="card">
                <img src="{{ neg.fotoNegocio.url }}" class="card-img-top" />
            </div>
            <div class="card-body">
                    <span class="card-title">
                        <b>{{ neg.nombre }}</b>
                    </span>
                <!-- <p class="card-text">{{ neg.direccion }}</p> -->
            </div>
            <div class="card-body">
                <a href="/mostrarNegocio/{{neg.id}}" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- ################# -->
<!-- Boton para mostrar todos los negocios tras busqueda -->
<!-- ################# -->

{% if query != None %}
<div class="d-grid gap-2 d-md-block">
    <a href="/" class="btn btn-outline-success">Mostrar todos los negocios</a>
</div>
{% endif %}

{% endblock %}