{% extends "polls/principal.html" %}

{% block content %}
{% load static %} 

    <div class="row">
        {% for neg in negocios %}
        <div class="col-6 col-md-4">

            <div class="card">
                <div class="card-header justify-content-end">
                    <i class="bi-heart" style="font-size: 1rem"></i>
                </div>
                <img src="{{ neg.fotoNegocio.url }}" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-title">{{ neg.nombre }}</span>
                    <p class="card-text">{{ neg.direccion }}</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}