<!DOCTYPE html>
<html lang="en">
<style>
    body{
        position: absolute;
        text-align: center;
        width: 750px;
        height: 640px;
        margin: auto;
        margin-top:40%;
        margin-left: 10%;
        box-shadow: 7px 13px 37px #000;
        padding: 20px 30px;
        border-top: 4px solid #017bab;
        color: white;

        height: 120px;

     
    }

</style>
<body>





<!-- FACEBOOK -->
<script>
    var finished_rendering = function () {
        console.log("finished rendering plugins");
        var spinner = document.getElementById("spinner");
        spinner.removeAttribute("style");
        spinner.removeChild(spinner.childNodes[0]);
    }
    FB.Event.subscribe('xfbml.render', finished_rendering);
</script>

    
    <div class="fb-login-button"  data-width="1500"  data-height="1000" data-max-rows="1000" data-size="large" data-button-type="continue_with"
        data-use-continue-as="true" ></div>
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v12.0&appId=963275077611461&autoLogAppEvents=1"
        nonce="7a26FU34"></script>


    <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded"
    data-auto-logout-link="true" data-use-continue-as="true" ></div> -->


<script>


    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();
        } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = ' ' +
                '';
        }
    }


    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function (response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    window.fbAsyncInit = function () {
        FB.init({
            appId: '963275077611461',
            cookie: true,                     // Enable cookies to allow the server to access the session.
            xfbml: true,                     // Parse social plugins on this webpage.
            version: 'v12.0'           // Use this Graph API version for this call.
        });


        FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
        });
    };

    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });
    }

</script>


<!-- The JS SDK Login Button -->



<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js"></script>

<!-- FACEBOOK END -->




<!-- GOOGLE -->
<!-- Google platform library -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- client ID specification -->
<meta name="google-signin-client_id"
    content="227947446841-4g2fhgets7n0slto0ntf2pq4a18uvpen.apps.googleusercontent.com">

<!-- button -->
<div class="g-signin2" data-width="700"  data-onsuccess="onSignIn"></div>

<!-- link logout -->
<a href="#" onclick="signOut();" >Salir</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
</body>

</html>