{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}
{% load static %}

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-header justify-content-end">
                <span class="card-title font-weight-bold"><b>{{ data.nombre }}</b></span>
            </div>
            <div class="card-body">
                <span class="card-title"> <b>Dirección: </b> {{ data.direccion }}</span>
                <img src="{{ data.fotoNegocio.url }}" class="card-img-top"/>
                <p><b>Rubros: </b></p>
                <p>{% for rubro in rubros  %}
                {{ rubro.rubro.nombre }}, 
                {% endfor %}</p>


                <p><b>Contacto: </b></p>
                {% for contacto in contactos  %}
                <div class="row">
                    <table>
                        <tbody>
                        <tr>
                            <td class="col-2">
                                <img src="{{ contacto.formaContacto.logo.url}}" class="w-100 p-3 float-right "/>
                            </td>
                            <td class="align-middle col-10">
                                {{ contacto.formaContacto.nombre }}:            
                                    <a href="https://wa.me/{{contacto.getNumber}}">+{{contacto.getNumber}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}

                <p><b>Horario: </b></p>
                <p>{% for horario in horarios  %}
                {{ horario.diaSemana.dia }}: {{horario.horaAbre}} - {{horario.horaCierra}}
                {% endfor %}</p>

            </div>
            <div class="card-body">
                <a href="/" class="btn btn-primary">Volver</a>
            </div>

        </div>
    </div>
</div>


<!-- no olvidar hacerle el footer en el principal -->
<a href="https://www.flaticon.es/iconos-gratis/whatsapp" title="whatsapp iconos">Whatsapp iconos creados por Freepik - Flaticon</a>
{% endblock %}