{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}
{% load static %}





<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-header justify-content-end">

                <span class="card-title font-weight-bold"><b>{{ data.nombre }}</b>
                </span>

            </div>
            <div class="card-body">


                <div class="mw-100 bg-light text-dark">
                    <p><b>Contactar: </b></p>
                </div>
                {% for contacto in contactos %}
                <div class="row">
                    <table>
                        <tbody>
                            <tr>

                                <td class="col-2">
                                    <a href="{{contacto.getEnlace}}">
                                        <img src="{{ contacto.formaContacto.logo.url}}"
                                            class="w-100 p-3 float-right " />
                                    </a>
                                </td>

                                <td class="align-middle col-10">
                                    <a href="{{contacto.getEnlace}}"
                                        class="btn btn-outline-success"><small>{{contacto.formaContacto.nombre
                                            }}</small></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}

                <div class="mw-100 bg-light text-dark">
                    <p><b>Contactar: </b></p>
                </div>
                {% for contacto in contactos %}
                <div class="container pt-4">
                    <section class="mb-4">
                        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button"
                            data-mdb-ripple-color="dark"><i class="bi bi-facebook-f"></i></a>
                    </section>
                </div>


                {% endfor %}





                <div class="mw-100 bg-light text-dark">
                    <p><b>Rubros: </b></p>
                </div>
                <p>{% for rubro in rubros %}
                    {{ rubro.rubro.nombre }},
                    {% endfor %}</p>

                <div class="mw-100 bg-light text-dark">
                    <p><b>Horario: </b></p>
                </div>
                {% for horario in horarios %}
                <p>{{ horario.diaSemana.dia }}: {{horario.horaAbre}} - {{horario.horaCierra}}</p>
                {% endfor %}
                <div class="mw-100 bg-light text-dark">
                    <span class="card-title"> <b>Dirección: </b> {{ data.direccion }}</span>
                </div>
                <br>
                <div class="container">
                    <div class="container">
                        <img src="{{ data.fotoNegocio.url }}" class="card-img-top" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="/" class="btn btn-primary">Volver</a>
            </div>

        </div>
    </div>
</div>


<!-- no olvidar hacerle el footer en el principal -->
<a href="https://www.flaticon.es/iconos-gratis/whatsapp" title="whatsapp iconos">Whatsapp iconos creados por Freepik -
    Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/telefono" title="teléfono iconos">Teléfono iconos creados por Uniconlabs
    - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos">Facebook iconos creados por Pixel
    perfect - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos">Instagram iconos creados por Freepik
    - Flaticon</a>
{% endblock %}