{% extends "polls/principal.html" %}

{% load static %}

{% block title %}Pago con tarjeta de crédito{% endblock %}

{% block content %}
{% with total_price=business.get_price %}

<div class="container my-3">
    <h1 class="font-weight-bold">Pago con tarjeta de crédito</h1>
    <div class="row">
        <div class="col-lg-6">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {{ field.label}}
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <form action="." method="post" id="paymentForm">
                <fieldset class="border-bottom mb-3">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" name="email" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="docNumber">DNI</label>
                        <input id="docNumber" name="doc_number" data-checkout="docNumber" type="text"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="cardholderName">Titular de la tarjeta</label>
                        <input id="cardholderName" data-checkout="cardholderName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">Número de la tarjeta</label>
                        <input type="text" id="cardNumber" data-checkout="cardNumber" onselectstart="return false"
                            oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false"
                            autocomplete=off class="form-control">
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mb-0">
                            <label for="">Fecha de vencimento</label>
                            <div class="row">
                                <div class="form-group col-6">
                                    <input type="text" placeholder="MM" id="cardExpirationMonth"
                                        data-checkout="cardExpirationMonth" onselectstart="return false"
                                        onpaste="return false" oncopy="return false" oncut="return false"
                                        ondrag="return false" ondrop="return false" autocomplete=off
                                        class="form-control" maxlength="2">
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" placeholder="YY" id="cardExpirationYear"
                                        data-checkout="cardExpirationYear" onselectstart="return false"
                                        onpaste="return false" oncopy="return false" oncut="return false"
                                        ondrag="return false" ondrop="return false" autocomplete=off
                                        class="form-control" maxlength="2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="securityCode">Código de seguridad</label>
                            <input id="securityCode" data-checkout="securityCode" type="text"
                                onselectstart="return false" onpaste="return false" oncopy="return false"
                                oncut="return false" ondrag="return false" ondrop="return false" autocomplete=off
                                class="form-control" maxlength="4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="installments">Cuotas</label>
                        <select type="text" id="installments" name="installments" class="form-control"></select>
                    </div>
                </fieldset>
                <div>
                    <input type="hidden" id="docType" name="docType" data-checkout="docType" type="text"
                        class="form-control" value="DNI" />
                    <input type="hidden" name="payment_method_id" id="paymentMethodId" />
                    <input type="hidden" name="transaction_amount" id="transactionAmount"
                        value="{{ total_price|stringformat:'.2f' }}" />
                    <input type="hidden" id="issuer" name="issuer" data-checkout="issuer" class="form-control" />
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg btn-block">Pagar</button>
                    <br>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="card border-0 bg-light p-4">
                <!-- resumen? -->
            </div>
        </div>
    </div>
</div>

{% endwith %}


<script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
<!-- <script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('{{ publishable_key }}');
       // Add step #3
</script> -->
<script>
    window.Mercadopago.setPublishableKey("{{ publishable_key }}");
    // var maskCPF = IMask(document.getElementById('docNumber'), {
    //     mask: '000.000.000-00'
    // })

    var maskCardNumber = IMask(document.getElementById('cardNumber'), {
        mask: '0000000000000000'
    })

    window.Mercadopago.getIdentificationTypes()

    document.getElementById('cardNumber').addEventListener('change', guessPaymentMethod)
    function guessPaymentMethod(event) {
        let cardnumber = document.getElementById("cardNumber").value
        if (cardnumber.length >= 6) {
            let bin = cardnumber.substring(0, 6)
            window.Mercadopago.getPaymentMethod({
                "bin": bin
            }, setPaymentMethod)
        }
    }

    function setPaymentMethod(status, response) {
        if (status == 200) {
            let paymentMethod = response[0]
            document.getElementById('paymentMethodId').value = paymentMethod.id

            getIssuers(paymentMethod.id)
        } else {
            alert(`payment method info error: ${response}`)
        }
    }

    function getIssuers(paymentMethodId) {
        window.Mercadopago.getIssuers(
            paymentMethodId,
            setIssuers
        )
    }

    function setIssuers(status, response) {
        if (status == 200) {
            let issuerSelect = document.getElementById('issuer')
            response.forEach(issuer => {
                let opt = document.createElement('option')
                opt.text = issuer.name
                opt.value = issuer.id
                issuerSelect.appendChild(opt)
            })

            getInstallments(
                document.getElementById('paymentMethodId').value,
                document.getElementById('transactionAmount').value,
                issuerSelect.value
            )
        } else {
            alert(`issuers method info error: ${response}`)
        }
    }

    function getInstallments(paymentMethodId, transactionAmount, issuerId) {
        window.Mercadopago.getInstallments({
            "payment_method_id": paymentMethodId,
            "amount": parseFloat(transactionAmount),
            "issuer_id": parseInt(issuerId)
        }, setInstallments)
    }

    function setInstallments(status, response) {
        if (status == 200) {
            document.getElementById('installments').options.length = 0
            response[0].payer_costs.forEach(payerCost => {
                let opt = document.createElement('option')
                opt.text = payerCost.recommended_message
                opt.value = payerCost.installments
                document.getElementById('installments').appendChild(opt)
            })
        } else {
            alert(`installments method info error: ${response}`)
        }
    }

    doSubmit = false
    document.getElementById('paymentForm').addEventListener('submit', getCardToken)
    function getCardToken(event) {
        event.preventDefault()
        if (!doSubmit) {
            let $form = document.getElementById('paymentForm')
            window.Mercadopago.createToken($form, setCardTokenAndPay)
            return false
        }
    }

    function setCardTokenAndPay(status, response) {
        if (status == 200 || status == 201) {
            let form = document.getElementById('paymentForm')
            let card = document.createElement('input')
            card.setAttribute('name', 'token')
            card.setAttribute('type', 'hidden')
            card.setAttribute('value', response.id)
            form.appendChild(card)
            doSubmit = true
            form.submit()
        } else {
            alert("Verify filled data!\n" + JSON.stringify(response, null, 4))
        }
    }


</script>
<!-- <script src="{% static 'js/process-payment.js' %}"></script> -->


{% endblock %}

{% block script %}

{% endblock script %}