{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <span class="card-title"><b>Nombre: </b>{{ cliente.user.first_name}} {{ cliente.user.last_name }}</span>
                <hr/>
                <p class="card-text"><b>Usuario: </b>{{ cliente.user.username }}</p>
                <p class="card-text"><b>Email: </b>{{ cliente.user.email }}</p>
                <p class="card-text"><b>Telefono: </b>{{ cliente.telefono }}</p>
                <p class="card-text"><i>{{ cliente.getPrivilegios }} eres Administrador del Sitio</i></p>
            </div>
            <div class="card-body">
                <div class="d-grid gap-2 d-md-block">
                    <a href="/updateperfilUser" class="btn btn-primary">Modificar</a>
                    <a href="/" class="btn btn-outline-primary">Volver</a>
                    <a href="/deletePerfil" class="btn btn-danger">Eliminar mi cuenta</a>
                    
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}