{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}

<!-- Create a Form -->
<form method="POST">
    <!-- Security token by Django -->
    {% csrf_token %}
    Está seguro que desea eliminar este elemento ?
    <div class="d-grid gap-2 d-md-block">
        <input type="submit" class="btn btn-danger" value="Si" />
        <a href="/listarNegociohorariodias/" class="btn btn-outline-danger">Cancelar </a>
    </div>
</form>

{% endblock %}