{% extends "polls/principal.html" %}

{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}

<div class="row">
    {% for data in dataset %}

    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <span class="card-title"><b>Negocio: </b>{{ data.negocio.nombre }}</span>
                <p class="card-text">{{data.rubro.nombre}}</p>
            </div>
            <div class="card-body">
                <a href="/mostrarNegociorubro/{{data.id}}" class="btn btn-primary">Ver</a>
            </div>

        </div>
    </div>

    {% endfor %}
</div>



{% endblock %}