<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Inicio</a>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/perfilCliente">Perfil de <i>{{user.username}}</i></a>
                    <a class="nav-link active" aria-current="page" href="/listarNegociosCliente">Mis
                        Negocios</a>
                    <a class="nav-link" href="/salir">Salir</a>

                {% else %}
                    <a class="nav-link" href="/registrarse">Registrarse</a>
                    <a class="nav-link" href="/ingresar">Ingresar</a>
                        <!-- estas solo para verlas, después borrar -->
                    <a class="nav-link" href="/listarSuscripciones">Suscripciones</a>
                    <a class="nav-link" href="/listarClientes">Clientes</a>

                        <!-- estas solo para verlas, después borrar -->
                {% endif %}

            </div>
        </div>
        <a class="navbar-brand" href="/">LSM Shop</a>
    </div>
</nav>