<!-- Este es el template intermedio de filtro por horarios -->
{% extends "polls/principal.html" %}
{% block title %}
<title>{{titulo}}</title>
{% endblock %}

{% block content %}
{% load static %}

{% load crispy_forms_tags %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>


{{ form.media }}

<div class="container">
    <div class="row text-center border border-5 rounded-3 d-flex align-items-center justify-content-center"
        style="height: 100px;">
        <p>Seleccione la hora de apertura y cierre para filtrar</p>
    </div>
</div>
<br>




<div class="container">



    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
    
        <!-- form as paragraph -->
        {{ form|crispy }}


        <div class="d-grid gap-2 d-md-block">
            <input class="btn btn-primary" type="submit" value="Filtrar">
            <a href="/" class="btn btn-outline-danger">Cancelar </a>
        </div>
    </div>
</div>

{% endblock %}